name: Deploy to GitHub Pages

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: npm
          cache-dependency-path: book/my-book/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: book/my-book
      - name: Build website
        run: npm run build
        working-directory: book/my-book

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book/my-book/build
          # The following lines configure GitHub Pages correctly
          publish_branch: gh-pages